@page "/"
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Title</PageTitle>

<div class="mx-auto">
    <p>
        Welcome
        <span class="oi oi-heart" title="heart" aria-hidden="true"></span>
        <span class="invalid-feedback">@error</span>
    </p>
</div>



@code {
    private string error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            
            var greetings = await Http.GetFromJsonAsync("bogus/greetings");

        } catch (Exception exception)
        {
            error = exception.Message;
        }

        return base.OnInitializedAsync();
    }
}
