@page "/{Params?}"

<PageTitle>Notice</PageTitle>

<div class="container-sm mx-auto">
    <div class="card" style="width: 200px;">
        <div class="card-body">
        <h5 class="card-title">About cookies</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            This site does not use any cookies.
        </h6>
        <p class="card-text">
            <Whoami ErrorPage="/Hamster" />
        </p>
        <a href="@OkLink" class="btn btn-primary">Ok</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Params { get; set; }

    public string OkLink { get; set; } = "/welcome";

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Params != null)
            {
                OkLink = $"/welcome/{Params}";
            }
            else
            {
                OkLink = $"/welcome/";
            }
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
