@inherits VisitorDataCode
@if (ShowProgress)
{
    <div class="card">
        <div class="card-body">
            <pre class="json fs-6">
            @ProgressString
            </pre>
        </div>
    </div>
}
@code{

}
